body {
  background-color: #e5dcc3;
  font-family: "EB Garamond", serif;
}
hr {
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  width: 98%;
  border-color: #c7bea2;
  border-width: 10px;
}
h1 {
  color: #4a403a;
  font-weight: bold;
  font-family: "Sacramento", cursive;
}
h2 {
  color: #4a403a;
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
}

th {
  width: 200px;
  text-align: left;
  color: #4a403a;
}
ul {
  margin-block-start: 0em;
  padding-inline-start: 20px;
}
a {
  color: #32502e;
}

/************************ CLASS Selectors ******************/
.column_style {
  vertical-align: top;
}
.skils_table_slim {
  border-collapse: collapse;
  border: 1px solid black;
  padding-left: 15px;
  width: 150px;
}
.skils_table_fat {
  border-collapse: collapse;
  border: 1px solid black;
  padding-left: 15px;
  width: 450px;
}
.colum_skils {
  vertical-align: text-top;
  font-weight: bold;
}
