/* https://colorhunt.co/palette/2323232940d339a9cbffeda3 */
a {
  color: #39a9cb;
  padding: 20px;
  margin-left: 20px;
}
body {
  margin: 0px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 2em;
  background-color: #ffeda3;
}

h1 {
  color: #2940d3;
  font-size: 5.625rem;
  line-height: 4;
  margin: 3.125rem auto 0 auto;
  font-family: "Sacramento", cursive;
}
h2 {
  color: #2940d3;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}
h3 {
  color: #2940d3;
  font-family: "Montserrat", sans-serif;
}
hr {
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  width: 98%;
  border-color: #39a9cb;
  border-width: 10px;
}

/****************************  *****************************/

.size {
  height: 200px;
  width: 200px;
}
.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.top-container {
  position: relative;
  padding-top: 100px;
}

.profile {
  text-align: left;
  margin: 0px auto 0px auto;
}
.profile-row {
  text-align: left;
  margin: 0px auto 0px auto;
  width: 50%;
}
.profile-img {
  float: left;
  margin: 15px;
  width: 15%;
}
.skill-row {
  text-align: left;
  margin: 20px auto 0px auto;
  width: 50%;
}
.galaxy-img {
  float: left;
  margin-right: 15px;
  width: 15%;
}
.anvil-img {
  float: right;
  margin-left: 15px;
  width: 25%;
}
